
@{
    ViewBag.Title = "Contact";
}

<h2>Contact Page</h2>
<p>If you would like to get a hold of me please do so via email or phone</p>
<p>Phone: (231)709-0494</p>
<p>Email: grant121@mail.nmc.edu</p>
