
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Eric's Game Library</h2>
<p>This app will keep a collection of games that can be expanded by users.</p>
<img src="~/Content/shelf.jpg" alt="Shelf of Books" width="800" height="600"/>
